{% extends "base/base.html" %}
{% load uni_form_tags %}

{% block title %}Password change{% endblock %}

{% block scripts %}
{% uni_form_setup %}
{% endblock %}

{% block content %}
<h2>Change Password</h2>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<br />
<form action="{% url password %}" method="post" class="uniForm">{% csrf_token %}
{{ form|as_uni_form }}
<div class="buttonHolder">
<input type="submit" value="Change my password" class="primaryAction" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}
